{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="" class="mt-5 container border rounded border-secondary" method="POST">
    {% csrf_token %}
    <h1 class="text-center">Быстрый поиск недвижимости</h1>
    <div class="row justify-content-center mt-3">
        <div class="mb-3 col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="type_uslugi" id="" value="Тип услуги">
                <option value="0" selected>--Тип услуги--</option>
                <option value="4">Купить</option>
                <option value="1">Снять</option>
            </select>
        </div>
        <div class="mb-3 col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="type_nedvig" id="" value="Тип услуги">
                <option value="0" selected>--Тип недвижимости--</option>
                {% for typen in type_nedvig %}
                <option value="{{ typen.id }}">{{ typen.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col col-lg-5 col-md-5 col-sm-6">
            <label class=""> Количество комнат: </label>
            <div class="form-check form-check-inline ms-1">
                <input class="form-check-input" type="checkbox" id="check1" name="komant1">
                <label class="form-check-label" for="check1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check2" name="komant2">
                <label class="form-check-label" for="check2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check3" name="komant3">
                <label class="form-check-label" for="check3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check3" name="komant4">
                <label class="form-check-label" for="check3">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check5" name="komant5">
                <label class="form-check-label" for="check5">5+</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check6" name="Studia">
                <label class="form-check-label" for="check6">Студия</label>
            </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-6 d-flex">
            <div class="col col-lg-6 col-md-6 col-sm-12">
                <input type="number" name="Price_start" id="Price_start" class="form-control mb-4" placeholder="Цена от">
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 ms-1">
                <input type="number" name="Price_end" id="Price_end" class="form-control mb-4" placeholder="Цена до">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class=" col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="district" id="" value="Тип услуги">
                <option value="0" selected class="disabled">--Район--</option>
                {% for district in districts %}
                <option value="{{ district.name }}">{{ district.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="street" id="" value="Улица">
                <option value="0" selected class="disabled">--Улица--</option>
                {% for street in streets %}
                <option value="{{ street.name }}">{{ street.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row justify-content-center ms-5 me-5 mb-4">
            <input type="submit" value="Поиск" class="btn btn-secondary">
    </div>

</form>

<div class="container mt-5">
    <div class="row">
        {% for nedvig in page_obj %}
        <div class="col-md-6 col-lg-4 col-sm-10 mt-4">
            <div class="card">  
                <a href="{% url 'nedvig_page' nedvig.id%}">
                    <div class="view overlay">
                        <img class="card-img-top rounded-top" src="{{nedvig.main_photo.url}}" width="345" height="380" alt="Card image cap">
                        <a href="">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div> 
                    <div class="card-body rounded-bottom">
                        <a href="" class="link-object text-decoration-none text-dark">
                            <h4 class="card-title">{{ nedvig.name }}</h4>
                        </a>
                        <hr class="hr-dark">
                        <p class="card-text text-dark mb-2"> Тип объекта: {{ nedvig.type_nedvig }}</p>
                        <p class="card-text text-dark mb-2"> Количество комнат: {{ nedvig.komnat }}</p>
                        <p class="card-text text-dark mb-2"> Этаж/Этажность: {{ nedvig.etag }}/{{ nedvig.etagnost }}</p>
                        <p class="card-text text-dark mb-2"> Площадь: {{ nedvig.obshaya_ploshad }}кв. м</p>
                        <p class="card-text text-dark mb-2"> Материал: {{ nedvig.material }}</p>
                        <span class="float-left">
                            <h4 class="font-weight-bold">{{ nedvig.price }} ₽</h4>
                        </span>
                    </div>   
                </a>    
            </div>    
        </div>
        {% endfor %}

        <!-- <?php
        function clear_string($cl_str)
        {
          $cl_str = strip_tags($cl_str);
          $cl_str = mysqli_real_escape_string($cl_str);
          $cl_str = trim($cl_str);
          return $cl_str;
        }
          $type_uslugi = $_GET["Type_Uslugi"];
          $type_nedvig = $_GET["Type_nedvig"];
          if ($_GET["Raion"]) 
          {
            $Raion = $_GET["Raion"];
          }
          if ($_GET["Street"]) 
          {
            $Street = $_GET["Street"];
          }
          $Name_Nedvigimost = $_GET["NameNedvig"];
          if ($_GET["Kolvo_Komnat"]) 
          {
            $check_Kolvo_Komnat = implode(',', $_GET["Kolvo_Komnat"]);
          }
          $Price_start =  $_GET["Price_start"];
          $Price_end =  $_GET["Price_end"];
          if(!empty($check_Kolvo_Komnat) || !empty($Price_end) || !empty($type_uslugi) || !empty($type_nedvig) || !empty($Raion) || !empty($Name_Nedvigimost))
          {
            if(!empty($type_uslugi))
            {
              $query_Type_Uslugi = "AND `Type_Uslugi` = $type_uslugi";
            }
            if(!empty($type_nedvig))
            {
              $query_Type_Nedvigimost = "AND `Type_Nedvigimosti` = $type_nedvig";
            }
            if(!empty($Raion))
            {
              $query_raion = "AND `Raion` = $Raion";
            }
            if(!empty($Street))
            {
              $query_street = "AND `Street` = $Street";
            }
            if(!empty($check_Kolvo_Komnat))
            {
              $query_komnat = "AND `Kolvo_Komnat` IN($check_Kolvo_Komnat)";
            }
            if (!empty($Price_end)) 
            {
              $query_price = "AND `Stoimost` BETWEEN $Price_start AND $Price_end";
            }
            if(!empty($Name_Nedvigimost))
            {
              $query_name = "AND `Name_Nedvig` LIKE '%$Name_Nedvigimost%'";
            } -->
    </div>
</div>

{% endblock content %}