{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="" class="mt-5 container border rounded border-secondary" method="POST">
    {% csrf_token %}
    <h1 class="text-center">Быстрый поиск недвижимости</h1>
    <div class="row justify-content-center mt-3">
        <div class="mb-3 col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="type_uslugi" id="" value="Тип услуги">
                <option value="0" selected>--Тип услуги--</option>
                <option value="1">Купить</option>
                <option value="4">Снять</option>
            </select>
        </div>
        <div class="mb-3 col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="type_nedvig" id="" value="Тип услуги">
                <option value="0" selected>--Тип недвижимости--</option>
                {% for typen in type_nedvig %}
                <option value="{{ typen.id }}">{{ typen.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col col-lg-5 col-md-5 col-sm-6">
            <label class=""> Количество комнат: </label>
            <div class="form-check form-check-inline ms-1">
                <input class="form-check-input" type="checkbox" id="check1" name="komant1">
                <label class="form-check-label" for="check1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check2" name="komant2">
                <label class="form-check-label" for="check2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check3" name="komant3">
                <label class="form-check-label" for="check3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check3" name="komant4">
                <label class="form-check-label" for="check3">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check5" name="komant5">
                <label class="form-check-label" for="check5">5+</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="check6" name="Studia">
                <label class="form-check-label" for="check6">Студия</label>
            </div>
        </div>
        <div class="col col-lg-5 col-md-5 col-sm-6 d-flex">
            <div class="col col-lg-6 col-md-6 col-sm-12">
                <input type="number" name="Price_start" id="Price_start" class="form-control mb-4"
                    placeholder="Цена от">
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-12 ms-1">
                <input type="number" name="Price_end" id="Price_end" class="form-control mb-4" placeholder="Цена до">
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class=" col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="district" id="" value="Тип услуги">
                <option value="0" selected class="disabled">--Район--</option>
                {% for district in districts %}
                <option value="{{ district.id }}">{{ district.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 col col-lg-5 col-md-5 col-sm-10">
            <select class="form-select" name="street" id="" value="Улица">
                <option value="0" selected class="disabled">--Улица--</option>
                {% for street in streets %}
                <option value="{{ street.id }}">{{ street.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row justify-content-center ms-5 me-5 mb-4">
        <input type="submit" value="Поиск" class="btn btn-secondary">
    </div>

</form>

<div class="container mt-5 ">
    <div class="row">
        {% for nedvig in page_obj %}

        {% if nedvig.id in short %}
        <div class="col-md-6 col-lg-4 col-sm-10 mt-4">
            <div class="card">
                <a href="{% url 'nedvig_page' nedvig.id%}">
                    <div class="view overlay">
                        <img class="card-img-top rounded-top" src="{{nedvig.main_photo.url}}" width="345" height="380"
                            alt="Card image cap">
                        <a href="{% url 'nedvig_page' nedvig.id%}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body rounded-bottom">
                        <a href="" class="link-object text-decoration-none text-dark">
                            <h4 class="card-title title" style="padding-top: 13px; padding-bottom: 13px;">{{ nedvig.name }}</h4>
                        </a>
                        <hr class="hr-dark">
                        <p class="card-text text-dark mb-2"> Тип объекта: {{ nedvig.type_nedvig }}</p>
                        <p class="card-text text-dark mb-2"> Количество комнат: {{ nedvig.komnat }}</p>
                        <p class="card-text text-dark mb-2"> Этаж/Этажность: {{ nedvig.etag }}/{{ nedvig.etagnost }}</p>
                        <p class="card-text text-dark mb-2"> Площадь: {{ nedvig.obshaya_ploshad }}кв. м</p>
                        <p class="card-text text-dark mb-2"> Материал: {{ nedvig.material }}</p>
                        <span class="float-left">
                            <h4 class="font-weight-bold">{{ nedvig.price }} ₽</h4>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        {% else %}
        <div class="col-md-6 col-lg-4 col-sm-10 mt-4">
            <div class="card">
                <a href="{% url 'nedvig_page' nedvig.id%}">
                    <div class="view overlay">
                        <img class="card-img-top rounded-top" src="{{nedvig.main_photo.url}}" width="345" height="380"
                            alt="Card image cap">
                        <a href="{% url 'nedvig_page' nedvig.id%}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body rounded-bottom">
                        <a href="" class="link-object text-decoration-none text-dark">
                            <h4 class="card-title title">{{ nedvig.name }}</h4>
                        </a>
                        <hr class="hr-dark">
                        <p class="card-text text-dark mb-2"> Тип объекта: {{ nedvig.type_nedvig }}</p>
                        <p class="card-text text-dark mb-2"> Количество комнат: {{ nedvig.komnat }}</p>
                        <p class="card-text text-dark mb-2"> Этаж/Этажность: {{ nedvig.etag }}/{{ nedvig.etagnost }}</p>
                        <p class="card-text text-dark mb-2"> Площадь: {{ nedvig.obshaya_ploshad }}кв. м</p>
                        <p class="card-text text-dark mb-2"> Материал: {{ nedvig.material }}</p>
                        <span class="float-left">
                            <h4 class="font-weight-bold">{{ nedvig.price }} ₽</h4>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% if  page_obj.has_other_pages %}
    <ul style="display: inline; list-style: none; text-align: center; margin-left: 50%; font-size: 25px;">
        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li style="display: inline; text-decoration: underline;">{{ page }}</li>
        {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
        <li style="display: inline;">
            <a href="?page={{ page }}" class="text-decoration-none" style="color: rgb(99, 99, 99);">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>

{% endblock content %}